<template>
    <div class="card">
        <div class="card-header">Post</div>

        <div class="card-body">
            <el-form :model="form" :rules="rules" ref="form" label-width="120px" class="demo-model">
                <el-form-item label="Title" prop="title" required>
                    <el-input v-model="form.title"></el-input>
                </el-form-item>
                <el-form-item label="Published date" required>
                    <el-col :span="11">
                        <el-form-item prop="published_at">
                            <el-date-picker type="datetime" placeholder="Pick a date" v-model="form.published_at" style="width: 100%;"></el-date-picker>
                        </el-form-item>
                    </el-col>
                </el-form-item>
                <el-form-item label="Description" prop="description">
                    <el-input type="textarea" v-model="form.description"></el-input>
                </el-form-item>
                <el-form-item>
                    <el-button type="primary" @click="submitForm('form')">{{ postId ? 'Update' : 'Create' }}</el-button>
                    <el-button @click="resetForm('form')">Reset</el-button>
                </el-form-item>
            </el-form>
        </div>
    </div>
</template>

<script>
    export default {
        mame: 'form',
        data() {
            return {
                routes: {
                    store: function () {
                        return route("posts.store", {}, false);
                    },
                    update: function (id) {
                        return route("posts.update", {id}, false);
                    },
                    edit: function (id) {
                        return route("posts.edit", {id}, false);
                    },
                },
                form: {
                    title: '',
                    published_at: '',
                    description: ''
                },
                rules: {
                    title: [
                        { required: true, message: 'Please input title', trigger: 'blur' },
                        { min: 1, max: 255, message: 'Length should be 1 to 255', trigger: 'blur' }
                    ],
                    published_at: [
                        { type: 'date', required: true, message: 'Please pick a date', trigger: 'change' }
                    ],
                    description: [
                        { required: false, message: 'Please input description', trigger: 'blur' }
                    ]
                },
                postId: null
            };
        },
        methods: {
            submitForm(formName) {
                this.$refs[formName].validate((valid) => {
                    if (valid) {
                        if(this.postId) {
                            axios.put(this.routes.update(this.postId), this.form)
                                .catch(e => {
                                    this.$message({
                                        showClose: true,
                                        message: e?.response?.data?.message ?? e.message,
                                        type: 'error'
                                    });
                                });
                        } else {
                            axios.post(this.routes.store(), this.form)
                                .then(resp => {
                                    this.$router.push({ name: 'blog.list' });
                                })
                                .catch(e => {
                                    this.$message({
                                        showClose: true,
                                        message: e?.response?.data?.message ?? e.message,
                                        type: 'error'
                                    });
                                });
                        }
                    } else {
                        console.log('error submit!!');
                        return false;
                    }
                });
            },
            resetForm(formName) {
                this.$refs[formName].resetFields();
            }
        },
        created() {
            this.postId = this.$route.params.id;

            if(this.postId) {
                axios.get(this.routes.edit(this.postId))
                    .then(({ data }) => {
                        this.form = data.data;
                        this.form.published_at = new Date(this.form.published_at);
                    })
                    .catch(e => {
                        this.$message({
                            showClose: true,
                            message: e?.response?.data?.message ?? e.message,
                            type: 'error'
                        });
                    });
            }
        }
    }
</script>
