<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-sm-12">
                <router-view></router-view>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        mounted() {}
    }
</script>
